/* Main section */
.presentation {
  /* Container first */
  display: grid;
  margin-top: -50px;
  grid-template-columns: 0.6fr 0.4fr;
  margin-bottom: 50px;
  /*height: 240px;*/
}

/* Description section */
.description {
  /* Container second */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 60%;*/
  /*margin-bottom: 50px;*/
}

.name {
  /* Container third */
  margin-bottom: 10px;
}

.name-title {
  /* Paragraph */
  font-size: 25px;
  font-weight: 700;
}

.summary {
  /* Container third */
  margin-bottom: 10px;
}

.summary-info {
  /* Paragraph */
  line-height: 1.8;
}

.contact {
  /* Container third*/
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-sep {
  /* Container fourth */
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sep-character {
  /* Paragraph */
  text-align: center;
}

.email-contact,
.linkedin-contact,
.github-contact {
  /* Container fourth */
  background-color: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.email-icon,
.linkedin-icon,
.github-icon {
  /* Image */
  height: 40px;
}

/* Photo Section */
.photo {
  /* Container second */
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  /*height: 240px;*/
  /*width: 40%;*/
}

.profile-picture {
  /* Image */
  width: 90%;
  max-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .presentation {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
