/* Main section */
.presentation-section {
  /* Container first */
  display: grid;
  margin-top: -50px;
  grid-template-columns: 0.61fr 0.39fr;
  margin-bottom: 50px;
  max-width: 1000px;
  /*height: 240px;*/
}

/* Description section */
.description {
  /* Container second */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 60%;*/
  /*margin-bottom: 50px;*/
}

.name {
  /* Container third */
  margin-bottom: 10px;
}

.name-title {
  /* Paragraph */
  font-size: 25px;
  font-weight: 700;
}

.summary {
  /* Container third */
  margin-bottom: 10px;
  line-height: 1.8;
}

.summary-info {
  /* Paragraph */
  line-height: 1.8;
}

.summary-info-paragraph {
  /* Paragraph */
  line-height: 1.8;
  margin-bottom: 10px;
}

.lab-icon-picture {
  /* Picture */
  height: 16px;
  vertical-align: middle;
}

.href-container {
  /* Image */
  cursor: pointer;
  line-height: 1.8;
  text-decoration: none;
  color: #23388E;
}

.onclick-icon-picture {
  /* Picture */
  height: 16px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.contact-group {
  /* Container third*/
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.contact-sep {
  /* Container fourth */
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sep-character {
  /* Paragraph */
  text-align: center;
}

.email-contact,
.linkedin-contact,
.github-contact,
.orcid-contact {
  /* Container fourth */
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.email-icon-picture,
.linkedin-icon-picture,
.github-icon-picture {
  /* Image */
  height: 40px;
  transition: opacity 0.2s;
}

.orcid-icon-picture {
  /* Image */
  height: 32px;
  transition: opacity 0.2s;
}

.email-icon-onclick-picture,
.linkedin-icon-onclick-picture,
.github-icon-onclick-picture {
  /* Image */
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
}

.orcid-icon-onclick-picture {
  /* Image */
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 32px;
  pointer-events: none;
}

.email-icon-picture:hover,
.linkedin-icon-picture:hover,
.github-icon-picture:hover,
.orcid-icon-picture:hover {
  /* Image */
  opacity: 0;
}

/* Photo Section */
.photo {
  /* Container second */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  /*height: 240px;*/
  /*width: 40%;*/
}

.profile-picture {
  /* Image */
  position: absolute;
  z-index: -1;
  width: 90%;
  max-width: 280px;
  cursor: pointer;
  border-radius: 50%;
}

.profile-grayscale-picture {
  /* Image */
  position: absolute;
  width: 90%;
  max-width: 280px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transition: opacity 0.5s;
}

.profile-grayscale-picture:hover {
  /* Image */
  opacity: 0;
}

@media (max-width: 850px) {
  .presentation-section {
    /* Container first */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .photo {
    /* Container second */
    margin-top: 0px;
  }
}
