/* Main Section */
.research-section {
  /* Container first */
  margin-top: -50px;
  width: 100%;
  max-width: 1000px;
}

/* Research section */
.research-section-title {
  /* Container second */
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.research-section-title-info {
  /* Paragraph */
  font-size: 25px;
  font-weight: 700;
}

.research-grid {
  /* Container second */
  display: grid;
  grid-template-columns: 1fr;
}

.research-experience {
  /* Container third */
  display: grid;
  grid-template-columns: 0.25fr 0.8fr;
  margin-top: 20px;
}

.experience-figure-container {
  /* Container fourth */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 0px;
}

.experience-figure {
  position: relative;
}

.harvard-experience-picture,
.spherical-pendulum-experience-picture,
.ups-experience-picture,
.switch-control-experience-picture {
  /* Picture */
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transition: opacity 0.65s;
}

.experience-figure-container .harvard-experience-onclick-picture,
.experience-figure-container .spherical-pendulum-experience-onclick-picture,
.experience-figure-container .ups-experience-onclick-picture {
  /* Picture */
  position: absolute;
  width: 100%;
  z-index: -1;
  max-width: 200px;
  cursor: pointer;
  padding-right: 0px;
  opacity: 0;
  transition: opacity 1.3s ease 0.0s;
}


.experience-figure-container .pod-control-experience-onclick-picture{
  /* Picture */
  position: absolute;
  width: 100%;
  z-index: -1;
  max-width: 200px;
  cursor: pointer;
  padding-right: 0px;
  opacity: 0;
  transition: opacity 0.65s ease 0.0s;
}

.harvard-experience-picture:hover,
.spherical-pendulum-experience-picture:hover,
.ups-experience-picture:hover,
.switch-control-experience-picture:hover {
  /* Image */
  opacity: 0;
}

.experience-figure-container:hover .harvard-experience-onclick-picture,
.experience-figure-container:hover .spherical-pendulum-experience-onclick-picture,
.experience-figure-container:hover .ups-experience-onclick-picture {
  /* Image */
  opacity: 1;
  transition: opacity 0.0s ease 0.0s;
}

.experience-figure-container:hover .pod-control-experience-onclick-picture{
  /* Image */
  opacity: 1;
  transition: opacity 0.65s ease 0.0s;
}

.experience-info {
  /* Container fourth */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-main-info {
  /* Container fifth */
  display: flex;
  flex-direction: column;
}

.experience-title {
  /* Paragraph */
  font-size: 19px;
  font-weight: 700;
}

.experience-authors {
  /* Container sexth */
  margin-top: 10px;
}

.collaborator-authorship {
  /* Paragraph */
  opacity: 0.5;
}

.experience-description {
  /* Paragraph */
  margin-top: 10px;
  align-items: center;
  line-height: 1.5;
  display: inline-block !important;
}

.lock-icon-picture {
  height: 16px;
}

.hinf-icon-picture {
  height: 16px;
  vertical-align: middle;
}

.experience-links {
  /* Container fifth */
  margin-top: 10px;
  display: flex;
}

.nourl-container {
  display: flex;
  /*margin-right: 8px;*/
  position: relative;
}

.nourl-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.nourl-paragraph:hover {
  opacity: 0;
}

.nourl-onclick-paragraph {
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  color: #23388E;
}

.url-container {
  display: flex;
  /*margin-right: 8px;*/
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.url-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.url-paragraph:hover {
  opacity: 0;
  text-decoration: none;
}

.url-onclick-paragraph {
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  color: #23388E;
  text-decoration: none;
}

.link-icon-picture,
.link-icon-onclick-picture {
  height: 16px;
}

.pdf-icon-picture,
.pdf-icon-onclick-picture {
  /* Picture */
  height: 15px;
}

.code-icon-picture,
.code-icon-onclick-picture {
  /* Picture */
  height: 15px;
}


/*.experience-link-nourl {
   Paragraph 
  margin-right: 8px;
  color: black;
  text-decoration: none;
}*/


@media (max-width: 850px) {

  .research-experience {
    /* Container third */
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .experience-links {
    /* Container fifth */
    margin-top: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .experience-title {
    text-align: center;
  }

  .experience-figure-container {
    /* Container fourth */
    padding-right: 20px;
    margin-bottom: 20px;
  }
}